@font-face {
    font-family: 'Momentz';
    src: url('../fonts/Momentz.otf') format('opentype'),
         url('../fonts/Momentz.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Heavitas';
    src: url('../fonts/Heavitas.ttf') format('opentype');
    font-weight: normal;
    font-style: normal;
}

html {
    height: 100%;
    background: linear-gradient(180deg, #0f0f0f 0%, #1B6908 100%);
    background-attachment: fixed;
}

body {
    min-height: 100vh;
    margin: 0;
    display: flex;
    flex-direction: column;
}

.nav_links {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 0rem 0;
    margin: 0 1rem;
}

.nav_links button {
    background-color: #01771f;
    padding: 0.5rem 1rem;
    border: none;
    border-radius: 15px;
    cursor: pointer;
    font-family: "Heavitas";
}

.nav_links h1 {
    font-family: 'Momentz';
    font-size: 2rem;
    color: #e4e4e4;
}

a {
    text-decoration: none;
    color: #e4e4e4;
}

.banner {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50vh;
    color: #e4e4e4;
    font-style: Impact;
}

.content {
    text-align: center;
    font-family: "Heavitas";
}

.content button {
    background-color: #01771f;
    padding: 0.5rem 1rem;
    border: none;
    border-radius: 15px;
    cursor: pointer;
    font-family: "Heavitas";
}

.services {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 0rem 0;
    margin: 0 1rem;
}

.serviceh1 {
    font-family: "Heavitas";
    font-size: 2rem;
    color: #e4e4e4;
    display: flex;
    justify-content: center;
}
