@font-face {
    font-family: 'Momentz';
    src: url('../fonts/Momentz.otf') format('opentype'),
         url('../fonts/Momentz.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Heavitas';
    src: url('../fonts/Heavitas.ttf') format('opentype');
    font-weight: normal;
    font-style: normal;
}

html {
    height: 100%;
    background: linear-gradient(180deg, #0f0f0f 0%, #1B6908 100%);
    background-attachment: fixed;
}

body {
    min-height: 100vh;
    margin: 0;
    display: flex;
    flex-direction: column;
}

.nav_links {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 0rem 0;
    margin: 0 1rem;
}

.nav_links button {
    background-color: #01771f;
    padding: 0.5rem 1rem;
    border: none;
    border-radius: 15px;
    cursor: pointer;
    font-family: "Heavitas";
}

.nav_links h1 {
    font-family: 'Momentz';
    font-size: 2rem;
    color: #e4e4e4;
}

a {
    text-decoration: none;
    color: #e4e4e4;
}

.banner {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50vh;
    color: #e4e4e4;
    font-style: Impact;
}

.content {
    text-align: center;
    font-family: "Heavitas";
}

.content button {
    background-color: #01771f;
    padding: 0.5rem 1rem;
    border: none;
    border-radius: 15px;
    cursor: pointer;
    font-family: "Heavitas";
}

.serviceh1{
    font-family: "Heavitas";
    font-size: 2rem;
    color: #e4e4e4;
    display: flex;
    justify-content: center;
}

footer{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0rem 0;
    margin: 0 1rem;
}

footer p{
    color: #303130;
    font-size: 80%;
    margin-right: 1rem;
}

.datah1{
    font-family: "Heavitas";
    font-size: 2rem;
    color: #e4e4e4;
    display: flex;
    justify-content: center;
    padding-top: 10rem;
}

.datas{
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 0rem 0;
    margin: 0 1rem;
    text-align: center;
}

.data{
    display: flex;
    align-items: center;
    font-family: "Heavitas";
    color: #e4e4e4;
    font-size: 2rem;
    width: 100px;
}


.container {
    overflow: hidden;
}

.carousel {
    position: relative;
}

.carousel-inner {
    display: flex;
    overflow: hidden;
    height: 50vh;
    flex-wrap: nowrap;
}

.slide {
    flex: 0 0 100%;
    height: 100%;
    transition: .5s ease-in-out;
    display: flex;
    justify-content: center;
    align-items: center;
}

.slide img {
     border-radius: 15px;
}

.carousel-controls {
    position: absolute;
    z-index: 5;
    left: 10%;
    right: 10%;
    top: 50%;
    display: flex;
    justify-content: space-between;
}


.carousel-dots {
    position: absolute;
    z-index: 5;
    left: 50%;
    right: 50%;
    bottom: -1%;
    display: flex;
    justify-content: center;
}

.carousel-dots .dot {
    border-radius: 50%;
    margin: 5px;
    cursor: pointer;
}

.carousel-dots .active {
    border: 5px solid #0a790d !important;
}

.carousel-dots .inactive {
    border: 5px solid #000000;
}